.pager_string{text-align:center;margin:20px 0;}
.pager_string div, .pager_string a{display:inline-block; padding:0 16px 6px; margin:0 3px 0 3px; color:#fff; font-size:24px; 
	font-weight:normal; border-radius:20px;;	
	background: rgb(151,119,55); transition: 0.2s ease 0s;
}
.pager_string a:hover{background-color:rgb(180,130,65);;color:#fff;}
.pager_string .cur{ color:#444; color:#fff; 
	background: rgb(16,11,8);
}
.pager_string .back{margin:0 12px 0 0;}
.pager_string .next{margin:0 0 0 12px;}
.pager_string a{ text-decoration:none;}
.pager_string a:hover{text-decoration:none;}

.pager_string .next:hover, .pager_string .back:hover {background:none;color:rgb(151,119,55);}
.pager_string .back, .pager_string .next {background:none;color:@brown;font-size:18px;font-weight:700;font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;text-align:center;font-variant:normal;text-transform:none;line-height: 1em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pager_string .next:before {content: '\e802';}
.pager_string .back:before {content: '\e801';}