
{if !$tdata['name_service']}
	Заявка на пробные занятия <br/><br/>
{else}
	Заявка на план обучения <br/><br/>
{/if}
{if $tdata['name_service']}План обучения: {$tdata['name_service']}{/if}<br />
{if $tdata['price_service']}План обучения: {$tdata['price_service']}{/if}<br />
Имя: {$tdata.name} <br/>
E-mail: {$tdata.email} <br/>
Телефон: {$tdata.phone} <br />