{capture name="content"}

	<h1>Регистрация прошла успешно</h1><br />
	
	<div style="text-align:center;">
	    <p><strong>Поздравляем Вас с успешной регистрацией на нашем сайте.<br />				
	    На вашу электронную почту было отправлено письмо, для подтверждения регистрации.</strong></p>
	</div>
	
	<br><br><br>

	
{/capture}
{include file="common/base_page.tpl"}